body {
    background-color: #0c483e;
    color:black;
    font-size: 18px;
    font-style: bold;
}

.logoescola {
    width: 30%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10cm;
    
}
.es